body {
    background-image: url("../images/backgroundcrystal.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner, #wins, #losses, #clicks, #best, .randNum, .directions, .pArea, .tNum {
    font-family: 'Fontdiner Swanky';
}
#banner h1 {
    /* font-family: 'Fontdiner Swanky'; */
    font-size: 50px;
    font-weight: bold;
    color: slategray;
    background-color: lavender;
    padding: 10px;
}
.tNum {
    font-size: 20px;
    font-weight: bold;
    color: slateblue;
    background-color: lavender;
}
.randNum {
    font-size: 50px;
    font-weight: bold;
    color: slateblue;
    background-color: lavender;
}
.crystals img {
    margin-left: 22px;
}
.pArea {
    font-size: 20px;
    color: slateblue;
    font-weight: bold;
    background-color: lavender;
}
.points {
    font-size: 40px;
    font-weight: bold;
    color: slateblue;
    background-color: lavender;
    width: 25%;
    padding-left: 50%;
    /* margin-left: 10%; */
}
#wins, #losses, #clicks, #best {
font-size: 20px;
font-weight: bold;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    font-size: 40px;
    width: 260px;
    height: 200px;
    background-color: rgb(66, 50, 155);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 48px;
    position: absolute;
    z-index: 1;
    bottom: -400px;
    left: 50%;
    margin-left: 640px;
    font-family: 'Fontdiner Swanky';
  }